.tittle1{
  font-size: 55px;
   background-color: #eee;
}
.tittle2{
  font-weight: 400;
  font-family:sans-serif;
   background-color: #eee;
}
.middle-line{
  background-color: #eee;
}


.below-pic{
   font-size:8px;
  background-color:#fff;
}
