.tittle1{
  font-size: 55px;
   background-color: #eee;
}
.tittle2{
  font-weight: 400;
  font-family:sans-serif;
   background-color: #eee;
}
.middle-line{
  background-color: #eee;
}


.below-pic{
   font-size:8px;
  background-color:#fff;
}
.subtitle{
  text-align:center;
}
ul{
  width:70%;
  margin-left:15%;
}
.quote{
    width:70%;
  margin-left:18%;
  padding-top: 20px
}
.author{
  font-size: 20px;
}
.closing{
  font-size:30px;
    width:70%;
  margin-left:18%;
  padding-top: 20px
}
.link{
  color:blue;
  font-size:20px;
}
.footer1{
  text-align:center;
}